@import "../reindeer/styles.css";
/*@import url(http://fonts.googleapis.com/css?family=Andika);*/


.v-app {
    background: white;
    /*font-family: 'Andika', serif;*/
    line-height: 1.5;
}

.v-split-line {
    width: 10px;
    height: 200px;
    background: #dcdcdc;
    margin: 10px;
}

.v-textarea {
    font-style: italic;
    color: black;
    font-size: large;
    border-color: #dcdcdc;
}
